{% block field_row %}
<div class="form_row form-group">
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</div>
{% endblock field_row %}

{% block file_widget %}
    {% spaceless %}
    {{ block('form_widget') }}
    {% if file_url is not null %}
        <a target="_Blank" href="{{ asset(file_url) }}">{{'archivo.views.download' | trans }}</a>
    {% endif %}

    {% endspaceless %}
{% endblock %}