<h3>{{nombre}} {{apellido}}, bienvenido al Sistema de Convenios de Desempeño Directivo</h3>
<h4>Estableciendo rutas de mejoramiento</h4>

<p>Usted ha sido registrado como usuario, ahora podrá acceder al sistema con los siguientes datos:</p>
<p>Usuario: <strong>{{user}}</strong></p>
<p>Contraseña: <strong>{{pass}}</strong></p>

Para ingresar, pinche el siguiente <a href="{{ url('homepage') }}">enlace</a>