{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            {% if op == "alta" %}
                Nuevo Sostenedor
            {% elseif op == "modificacion" %}
                Editar Sostenedor
            {% else %}
                Ver Sostenedor
            {% endif %}
        </header>
        <div class="panel-body">
            {#            <form class="form-horizontal adminex-form" method="get">#}
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    {% if op=="vista" %}
{#                        <p class="form-control-static">{{ sostenedor.colegio.nombre }}</p>#}
                    {% else %}
                        {{ form_start(form) }} 
                        {{ form_widget(form) }} 
                        <div>
                            <input type="submit" value="{{ 'boton.crear'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                        {#                                                <input type="text" class="form-control" {% if op=="modificacion" %} value="{{ nombre }}" {% endif %}>#}
                    {% endif %}
                </div>
            </div>
            {# <div class="form-group">
                 <label class="col-sm-2 col-sm-2 control-label">Comuna</label>
                 <div class="col-sm-10">
                     {% if op=="vista" %}
                         <p class="form-control-static">{{ comuna }}</p>
                     {% else %}
                         <select class="form-control m-bot15">
                             <option {% if op=="modificacion" %} {% if comuna=="Option 1" %} selected {% endif %} {% endif %}>Opcion 1</option>
                             <option {% if op=="modificacion" %} {% if comuna=="Option 2" %} selected {% endif %} {% endif %}>Opcion 2</option>
                             <option {% if op=="modificacion" %} {% if comuna=="Option 3" %} selected {% endif %} {% endif %}>Opcion 3</option>
                         </select>
                     {% endif %}
                 </div>
             </div>#}
            {% if op!="vista" %}
                <button type="submit" class="btn btn-primary">Enviar</button>
            {% endif %}
            {#            </form>#}
        </div>
    </section>
{% endblock %}