<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href="{{  path(role ~ '_index') }}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
    <li><a href="{{ path('directores sostenedor') }}"><i class="fa fa-user"></i> <span>Directores</span></a></li>
    <li><a href="{{ path('miembros', {'role':role}) }}"><i class="fa fa-users"></i> <span>Miembros</span></a></li>
    <li><a href="{{ path('ver compromisos sostenedor', {'id': app.user.id}) }}"><i class="fa fa-bookmark-o"></i> <span>Compromisos</span></a></li>
    <li><a href="{{ path('ver compromisos asignados') }}"><i class="fa fa-bookmark"></i> <span>Compromisos Asignados</span></a></li>
</ul>

