{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
<section class="panel">
    <header class="panel-heading">
        {% if op == "alta" %}
            Nuevo Miembro
        {% elseif op == "modificacion" %}
            Editar Miembro
        {% else %}
            Ver Miembro
        {% endif %}
    </header>
    <div class="panel-body">
        <form class="form-horizontal adminex-form" method="get">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Director Responsable</label>
                <div class="col-sm-10">
                    {% if op=="vista" %}
                        <p class="form-control-static">{{ director }}</p>
                    {% else %}
                        <select class="form-control m-bot15">
                            <option {% if op=="modificacion" %} {% if director=="Option 1" %} selected {% endif %} {% endif %}>Opcion 1</option>
                            <option {% if op=="modificacion" %} {% if director=="Option 1" %} selected {% endif %} {% endif %}>Opcion 2</option>
                            <option {% if op=="modificacion" %} {% if director=="Option 1" %} selected {% endif %} {% endif %}>Opcion 3</option>
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10">
                    {% if op=="vista" %}
                        <p class="form-control-static">{{ nombre }}</p>
                    {% else %}
                        <input type="text" class="form-control" {% if op=="modificacion" %} value="{{ nombre }}" {% endif %}>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Usuario</label>
                <div class="col-sm-10">
                    {% if op=="vista" %}
                        <p class="form-control-static">{{ usuario }}</p>
                    {% else %}
                        <input type="text" class="form-control" {% if op=="modificacion" %} value="{{ usuario }}" {% endif %}>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Contraseña</label>
                <div class="col-sm-10">
                    {% if op=="vista" %}
                        <p class="form-control-static">{{ contraseña }}</p>
                    {% else %}
                        <input type="text" class="form-control" {% if op=="modificacion" %} value="{{ contraseña }}" {% endif %}>
                    {% endif %}
                </div>
            </div>
            {% if op!="vista" %}
                <button type="submit" class="btn btn-primary">Enviar</button>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}