<!--sidebar nav start-->
<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href="{{ path('anos') }}"><i class="fa fa-sitemap"></i> <span>Iniciar Año</span></a></li>
    <li class="menu-list"><a href=""><i class="fa fa-users"></i> <span>Usuarios</span></a>
        <ul class="sub-menu-list">
            <li><a href="{{ path('sostenedores') }}"> Sostenedores</a></li>
            <li><a href="{{ path('directores admin') }}"> Directores</a></li>
            <li><a href="{{ path('miembros', {'role':role}) }}"> Miembros</a></li>

        </ul>
    </li>
    <li class="menu-list"><a href=""><i class="fa fa-cog"></i> <span>Parametrización</span></a>
        <ul class="sub-menu-list">
            <li><a href="{{ path('rubricas') }}"> Rúbricas</a></li>
            <li><a href="{{ path('tipo_instituciones') }}"> Tipos de institucion</a></li>
            <li><a href="{{ path('tipo_colegios') }}"> Tipos de colegio</a></li>
            <li><a href="{{ path('ciudades') }}"> Ciudades</a></li>
            <li><a href="{{ path('comunas') }}"> Comunas</a></li>
            <li><a href="{{ path('colegios') }}"> Colegios</a></li>
        </ul>
    </li>
    <li><a href="{{ path('areas') }}"><i class="fa fa-sitemap"></i> <span>Áreas</span></a></li>
    <li><a href="{{ path('compromisos') }}"><i class="fa fa-bookmark"></i> <span>Compromisos</span></a></li>

</ul>
<!--sidebar nav end-->