<tr class="gradeX">
    <td>{{ area.nombre }}</td>
    <td>%{{ area.ponderacion * 100}}</td>
    <td>{{ area.descripcion }}</td>
    <td class="center">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Operaciones <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <li><a href="{{ path('ver area', {'id': area.id}) }}">Ver</a></li>
                <li><a href="{{ path('editar area', {'id': area.id}) }}">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul>
        </div>
    </td>
</tr>
