<tr class="gradeX">
    <td>{{ compromiso.compromiso.nombre }}</td>
    <td>{{ compromiso.compromiso.sostenedor.nombre ~" "~ compromiso.compromiso.sostenedor.apellido }}</td>
    <td>{{ compromiso.director.nombre~" "~compromiso.director.apellido }}</td>
    <td class="center">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Operaciones <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <li><a href="{{ path('ver compromiso asignado', {'id': compromiso.id}) }}">Ver</a></li>
                <li><a href="{{ path('editar compromiso asignado', {'id': compromiso.id}) }}">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul>
        </div>
    </td>
</tr>
