<tr class="gradeX">
    <td>{{ compromiso.compromiso.nombre }}</td>
    <td>{{ compromiso.compromiso.sostenedor.apellido }} {{ compromiso.compromiso.sostenedor.nombre }}</td>
    <td>{{ compromiso.director.apellido }} {{ compromiso.director.nombre}}</td>
    <td class="center">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Operaciones <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <li><a href="{{ path('ver compromiso asignado', {'id': compromiso.id}) }}">Ver</a></li>
                <li><a href="{{ path('editar compromiso asignado', {'id': compromiso.id}) }}">Editar</a></li>
                <li><a href="#compromisoRealModal{{compromiso.id}}" data-toggle="modal">Eliminar</a></li>
            </ul>
        </div>
    </td>
</tr>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="compromisoRealModal{{compromiso.id}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">{{ 'compromisoReal.views.delete.title'|trans }}</h4>
            </div>
            <div class="modal-body">

                {{ 'compromisoReal.views.delete.message'|trans|nl2br }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'compromisoReal.views.delete.cancel'|trans }}</button>
                <a href="{{ path('borrar compromiso asignado', {'id': compromiso.id}) }}"><button type="button" class="btn btn-danger"> {{ 'compromisoReal.views.delete.confirm'|trans }}</button></a>
            </div>
        </div>
    </div>
</div>

