<tr class="gradeX">
    <td>{{ tipo_colegio.nombre }}</td>
    <td class="center">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Operaciones <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <li><a href="{{ path('ver tipo_colegio', {'id': tipo_colegio.id}) }}">Ver</a></li>
                <li><a href="{{ path('editar tipo_colegio', {'id': tipo_colegio.id}) }}">Editar</a></li>
                <li><a href="#tipoColegioModal{{tipo_colegio.id}}" data-toggle="modal">Eliminar</a></li>
            </ul>
        </div>
    </td>
</tr>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="tipoColegioModal{{tipo_colegio.id}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">{{ 'tipo_colegio.views.delete.title'|trans }}</h4>
            </div>
            <div class="modal-body">

                {{ 'tipo_colegio.views.delete.message'|trans|nl2br }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'tipo_colegio.views.delete.cancel'|trans }}</button>
                <a href="{{ path('eliminar tipo de colegio', {'id': tipo_colegio.id}) }}"><button type="button" class="btn btn-danger"> {{ 'tipo_colegio.views.delete.confirm'|trans }}</button></a>
            </div>
        </div>
    </div>
</div>